.stick-title{
    width: 5px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 0;
}
.header-title{
    margin-left: 12px;
}
.header-type{
    position: relative;
    color:#4a4a4a;
    width: 78px;
}
.header-type:hover{
    cursor: pointer;
    color:#000;  
}
.p-style{
    color:#4a4a4a;
}
.h5-style{
    font-weight: 600;
}
.auth{
    position: relative;
    margin-left: 15px;
}
.stick-auth{
    width: 3px;
    height: 15px;
    position: absolute;
    left: 16px;
    bottom: 4px;
}

.color-red{
    background-color: red;
}
.color-yellow{
    background-color: #ffd930;
}
.img-type{
    width:100%;
    height: 250px !important;
    object-fit: fill;
}
.img-frame{
    position: relative;
}
.img-overlay{
    position: absolute;
    bottom:0;
    right:0;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.6);
}